<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951731953722-ao9l2hil0ovfj60er02pkd5b3tgdfala.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951731953722-ao9l2hil0ovfj60er02pkd5b3tgdfala</string>
	<key>API_KEY</key>
	<string>AIzaSyB-KvwVu0sN20a9K-O1NQ0YvKT7WdSLnXc</string>
	<key>GCM_SENDER_ID</key>
	<string>951731953722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>schooldis-fe0d5</string>
	<key>STORAGE_BUCKET</key>
	<string>schooldis-fe0d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951731953722:ios:9b2d30e1985ef2626b9503</string>
</dict>
</plist>